首先，完成对于数据的加入、分析和探索过程

数据说明：

- name：企业名称
- RS：登记状态
- LS：法定代表人
- photo：电话
- MP：更多电话
- RA：企业注册地
- BS：经营范围
- RC：注册资本（万元）
- CT：成立日期
- mailbox：邮箱
- DAC：所属区县
- INOTT：纳税人识别号
- organizing institution bar code：组织机构代码
- NOI：参保人数
- AROIN：参保人数所属年报
- TOE：企业(机构)类型
- FS：企业规模  微型0 小型1 中型2 大型3国标行业中类
- DOA：核准日期
- TOO：营业期限
- IS：国标行业门类
- IBC：国标行业大类
- IM：国标行业中类
- ISS：国标行业小类
- used name：曾用名
- EN：英文名
- OW：官网网址
- MA：通信地址
- EP：企业简介

**最终保留的字段说明**

- name：企业名称
- LS：法定代表人
- photo：电话
- RA：企业注册地
- BS：经营范围
- RC：注册资本（万元）
- CT：成立日期
- DAC：所属区县
- NOI：参保人数
- AROIN：参保人数所属年报
- TOE：企业(机构)类型
- FS：企业规模  微型0 小型1 中型2 大型3国标行业中类
- DOA：核准日期
- IS：国标行业门类
- IBC：国标行业大类
- EP：企业简介

首先读入数据

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [13]:
data=pd.read_csv('D:\Jupyter\Enterprise data mining and data analysis\data\data01.csv')
data.head

<bound method NDFrame.head of                     name   LS         photo  \
0          吉林省昌农实业集团有限公司  张笑恺  4.318588e+10
1        吉林省华咨工程技术集团有限公司   刘尚  1.739008e+10
2          吉林省英辰科技股份有限公司   吴琼  1.850068e+10
3          吉林省寰旗科技股份有限公司  刘田影  4.318259e+10
4       长春融成智能设备制造股份有限公司  霍箭东  4.318702e+10
...                  ...  ...           ...
2650       吉林省天勤软件开发有限公司   李莹  1.824319e+10
2651      吉林省大赢嘉体育科技有限公司  张晓龙  1.824319e+10
2652         长春市龙辉科技有限公司   田野  1.779005e+10
2653  福建省仕融网络科技有限公司长春分公司  戴红花  1.560692e+10
2654  苏世建设管理集团有限公司长春市分公司  别志敏           NaN

                                                     RA  \
0                  长春市经济技术开发区金川街与浦东路交汇绿城米兰公馆B栋层304、305室
1                              经济开发区洋浦大街4629号佳泰云大厦1102室
2                         吉林省长春市高新开发区超群街191号孵化大厦1号楼6层东侧
3                                      吉林省长春市朝阳区建政路815号
4                                 吉林省长春市北湖科技开发区中盛路3088号
...                                                 ...
2650                   长春市净月开发区川渝·泓泰国际环球贸易中心一期2号楼15102号
2651                              长春市高新开发区华光街地利生鲜4楼404室
2652                        长春市净月开发区博学路1555号净月雅仕居A座102室
2653                    长春市北湖科技开发区盛北大街3222号1#楼101号2044室
2654  长春市高新技术产业开发区硅谷大街以东、超越大街以西、超达路北高新区核心区A区（长春益田·拉德...

                                                     BS    RC          CT  \
0     一般项目：中草药种植；中草药收购；谷物种植；食用菌种植；豆类种植；油料种植；薯类种植；花卉种...  4000   2001/4/27
1     工程咨询，工程设计，规划咨询，工程监理，工程造价，工程勘察与测量，地产评估，招投标代理，合同...  2000   2015/1/30
2     一般项目：软件开发；软件销售；电子产品销售；机械设备研发；计算机软硬件及辅助设备零售；橡胶制...  2200   2008/1/28
3     一般项目：信息系统集成服务；广告设计、代理；广告制作；平面设计；卫星技术综合应用系统集成；卫...  2000    2010/4/8
4     一般项目：通用设备制造（不含特种设备制造）；通用设备修理；专用设备制造（不含许可类专业设备制...  5230  1996/10/21
...                                                 ...   ...         ...
2650  一般项目：软件开发；人工智能基础软件开发；人工智能理论与算法软件开发；技术服务、技术开发、技...    50   2022/6/27
2651  一般项目:技术服务、技术开发、技术咨询、技术交流、技术转让、技术推广;体育用品及器材零售;体...    50    2022/7/1
2652  支持软件研发和运行平台技术服务；家用电器、电子产品、服装鞋帽、酒水饮料的批发与零售。（依法须...    50  2018/10/26
2653  软件开发；技术服务、技术开发、技术咨询、技术交流、技术转让、技术推广；软件外包服务；接受金融...   NaN   2021/1/22
2654  一般项目：工程管理服务；招投标代理服务；工程造价咨询业务；技术服务、技术开发、技术咨询、技术...   NaN    2023/7/4

                DAC    NOI   AROIN                   TOE   FS         DOA  \
0         长春经济技术开发区   13.0  2022.0      有限责任公司（自然人投资或控股）  1.0   2022/7/26
1         长春经济技术开发区    9.0  2022.0         有限责任公司（自然人独资）  1.0   2018/7/31
2               朝阳区   42.0  2022.0  股份有限公司（非上市、自然人投资或控股）  1.0   2023/8/15
3               朝阳区   37.0  2022.0  股份有限公司（非上市、自然人投资或控股）  1.0    2023/8/8
4               宽城区  234.0  2022.0  股份有限公司（非上市、自然人投资或控股）  2.0   2023/8/21
...             ...    ...     ...                   ...  ...         ...
2650  长春净月高新技术产业开发区    0.0  2022.0      有限责任公司（自然人投资或控股）  1.0   2022/6/27
2651            朝阳区    0.0  2022.0      有限责任公司（自然人投资或控股）  1.0    2023/6/2
2652  长春净月高新技术产业开发区    0.0  2022.0      有限责任公司（自然人投资或控股）  1.0   2021/6/15
2653            宽城区    0.0  2022.0   有限责任公司分公司（自然人投资或控股）  NaN  2022/12/27
2654    长春高新技术产业开发区    NaN     NaN   有限责任公司分公司（自然人投资或控股）  NaN   2023/8/30

                   IS             IBC  \
0          科学研究和技术服务业         专业技术服务业
1          科学研究和技术服务业         专业技术服务业
2     信息传输、软件和信息技术服务业      软件和信息技术服务业
3     信息传输、软件和信息技术服务业  电信、广播电视和卫星传输服务
4          科学研究和技术服务业         专业技术服务业
...               ...             ...
2650  信息传输、软件和信息技术服务业      软件和信息技术服务业
2651       科学研究和技术服务业      科技推广和应用服务业
2652  信息传输、软件和信息技术服务业      软件和信息技术服务业
2653  信息传输、软件和信息技术服务业      软件和信息技术服务业
2654       科学研究和技术服务业         专业技术服务业

                                                     EP
0     吉林省昌农实业集团有限公司成立于20010427，法定代表人为张笑恺，注册资本为4000万元...
1     公司位于九台经济开发区，实际位置位于卡伦镇，距离长春市区仅17公里。公司配有宿舍，班车，可以...
2     吉林省英辰科技股份有限公司目前的主营业务主要是提供车联网技术相关服务、车载智能终端产品和其他...
3     吉林省寰旗科技股份有限公司成立于2010年4月，拥有吉林省鹰之眼通信技术有限公司、吉林省寰旗...
4     长春北方化工灌装设备股份有限公司成立于1996年，一直专注于化工后处理环节自动化灌装机器人生...
...                                                 ...
2650  吉林省天勤软件开发有限公司成立于20220627，法定代表人为李莹，注册资本为50万元人民币...
2651  吉林省大赢嘉体育科技有限公司成立于20220701，法定代表人为张晓龙，注册资本为50万元人...
2652  长春市龙辉科技有限公司成立于20181026，法定代表人为田野，注册资本为50万元人民币，统...
2653  福建省仕融网络科技有限公司长春分公司成立于20210122，负责人为戴红花，统一社会信用代码...
2654  苏世建设管理集团有限公司长春市分公司成立于20230704，负责人为别志敏，统一社会信用代码...

[2655 rows x 16 columns]>

查看缺失值的情况

In [14]:
data.isnull().sum()

name      0
LS        0
photo    32
RA        0
BS        0
RC        2
CT        0
DAC      42
NOI      43
AROIN    43
TOE       0
FS        2
DOA       0
IS        0
IBC      43
EP        3
dtype: int64

整体查看数据的相关信息

In [15]:
data.describe()

              photo           NOI        AROIN           FS
count  2.623000e+03   2612.000000  2612.000000  2653.000000
mean   1.853756e+11     29.552450  2021.998851     1.007162
std    8.434594e+12    853.253636     0.033877     0.409569
min    1.068650e+09      0.000000  2021.000000     0.000000
25%    1.371219e+10      0.000000  2022.000000     1.000000
50%    1.594303e+10      1.000000  2022.000000     1.000000
75%    1.884409e+10      9.000000  2022.000000     1.000000
max    4.320000e+14  43565.000000  2022.000000     2.000000

结果只可以展示数值型的，根据表格可以看到：数据中大多数的企业为小型企业，